.allmovies_container{
    padding-left: 30px;
    padding-right: inherit;
    margin: 5px;
    position: absolute;
}

.allmovies_node{
    float: left;
    position: relative;
    width: 200px;
    height: 55vh;
    padding: 7px;
    margin-top: 5%;
}

#browse_all-background {
    positon: absolute;
    height: 200vh;
    width: 100%;
    background-color: black;
}

.allmovies_poster{
    width: 100%;
    height: 87%;
    padding-top: 10%;
}

p{
    color: white;
    text-align: center;
    padding-bottom: 2%;
    font-size: 10px;
}

.MovieTitle{
    padding-top: 35px;
    color: white;
    text-align: center;
    font-size: 125%;
    height: 85px;
}

a, a:hover, a:active, a:visited { color: white; }

