
.allmovies_container{
    position: absolute;
    width: 100%;
    padding: 2%;
    margin: 2% auto auto;
    background-color: black;
}

.allmovies_node{
    float: left;
    position: relative;
    width: 200px;
    height: 11%;
    padding: 7px;
}

.allmovies_poster{
    width: 100%;
    height: 87%;
}

p{
    color: white;
    text-align: center;
    padding-bottom: 2%;
    font-size: 10px;
}

.MovieTitle{
    color: white;
    text-align: center;
    font-size: 125%;
    height: 55px;
}

a, a:hover, a:active, a:visited { color: white; }

