body{
    /*
    background-color: black; !important;
    background-image: url(https://tpc.googlesyndication.com/pagead/imgad?id=CICAgKDTt_3ruQEQARgBMghzhMPy4SEovw);
    background-size: 100% 100%;
    background-position: 0 52px;
*/
}
#cwDate, #cwTime, #vueDate, #vueTime{

    color: black;

}


#compare {
    margin-top: 100px;
    background-image: url('../images/batmansupermanbg2.jpg');
    background-size: 100% 100%;
    padding-top: 50px;
    background-position: 0 50px;
    min-height: 1500px;
}


#movieDetails{

    background-color: black;
    margin-top: 100px;
    margin-left: 50px;
    margin-right: 50px;
    width: auto;
    height: 150px;
}

#videoHolder{

    margin: auto;
    margin-bottom: 0;
    width: 50%;
    padding: 10px;
    padding-top: 0;
    padding-bottom: 0;
    background: url(../images/background.jpg);
    border-radius: 25px;
    color: white;


}

#videoHolder iframe{

    padding: 5%;
    padding-bottom: 1%;
    margin: auto;
    border-radius: 25px;

}

#videoHolder h1{

    padding: 0.5%;
    padding-top: 0;
    float: left;
}

#rating{

width: 5%;
height: 5%;
margin-top: 2%;
margin-left: 1%;
border-style: solid ;
padding-bottom: 0;
position: relative;
}

#moviePhoto h1{

text-align: center;
padding-top: 30px;

}
#desc{

padding-top: 2.5%;
padding-left: 0.5%;
margin-bottom: 1vh;
}


#bookingInfo{
    background-color: rgba(0,0,0,0);
    width: 100%;
    height: auto;
    color: white;
    margin: auto;
    display: inline-block;
    margin-top: 1%;
    margin-bottom: 0;
}

#timedateInfo{

    width: 45%;
    background-color: rgba(0,0,0,0);
    float: left;
    
                                                                                                                                                                                                                                       
}

#date{

   float: left;
   margin-right: 5%;
   margin-left: 8%;
}

#ticketDetails{
    width: 55%;
    background-color: rgba(0,0,0,0);
    height: 80%;
    text-align: center;
    float: right;
    padding-right: 10px;
}

#type{

    margin-right: 50px;
    color: black;

}

#vip{

    margin-right: 50px;


}
#quantity{

    color: black;
    width: 30px;
}
#dPick{
    width: 60px;
    color: black;

}
#time{
    width: 60px;
    color: black;

}
#compareMovies{
    margin: auto;
    margin-top: 0;
    width: 50%;
    background: url(../images/background.jpg);
    border-radius: 25px;
    color: white;
    height: 85vh;
}


#hide-show-movie-info
{
    text-align: center;
    padding: 5px;
    border-radius: 25px;
    font-size: 12px;
    height: 4vh;
    margin-top: 1vh;
    margin-bottom: 1vh;
    cursor: pointer;
    color: gray;
}

#movie-description
{
    display: none;
}


.compare-column
{
    margin-left: 1%;
    margin-right: 0;
    width: 32%;
    border-radius: 25px;
    background-color: black;
    height: auto;
    float: left;
    color: white;
    margin-top: 1vh;
    height: 75vh;
    padding: 2px;
    position: relative;
}



.compare-column a:visited
{
    color: #23527c !important;
}

.ticket-table
{
    width: 100%;
}

.ticket-table tr
{
    text-align: center;
}

.ticket-table th
{
    text-align: center;
}

.ticket-table-header
{
    border-bottom: 1px solid white;
}

.ticket-quantity
{
    text-align: center;
    margin-top: 4px;
    margin-bottom: 4px;

    border: 0;
}

.select-custom
{
    display: inline-block;
}

.select-date
{
    width: 56% !important;
    margin: 0;
    margin-left: 2px;

}

.select-time
{
    width: 40% !important;
    margin: 0;
}

#compare1{

}

#compare1 h1{

        text-align: center;

}

.compare-date-time
{
    margin-bottom: 3vh;
}

.cinema-logo
{
    background-color: white;
    height: 8vh;
    margin: auto;
    margin-top: 1vh;
    margin-bottom: 3vh;
}

.cinema-summary
{
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding-bottom: 2vh;
}

#photo1{
    width: 60%;
}
#photo1 img{

    width: 100%;
    height: 100%;

}
#compare2{

}
#compare2 h1{

        text-align: center;
}
#photo2{

    width: 80%;
}
#photo2 img{

    width: 100%;
    height: 100%;

}
#compare3{

}
#compare3 h1{

    text-align: center;
    
}
#photo3{
    width: 40%;
}


#photo3 img{

    width: 100%;
    height: 100%;

}
#timeComp{
    color: black;
    margin-top: 50px;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}
#timeBox{
    display:inline-block;
    margin:0 15% 0 15%;
    border: 1px solid blue;
}

#thumbnail
{
    height: 350px;
    border-radius: 25px;
    margin: auto;
    max-width: 100%;
}



.not-available
{
    color: #695c56;
    text-align: center;
}

.not-available img
{
    margin-top: 15vh;
    width: 80%;
    height: 20vh;
}

.not-available div
{
    margin-top: 3vh;
    font-size: 18px;
}

#vue-available
{
    display: none;
}

#cineworld-available
{
    display: none;
}

#belmont-available
{
    display: none;
}

#vue-prices
{
    display: none;
}

#cineworld-prices
{
    display: none;
}


.loading-ticket-table
{
    margin-top: 15vh;
    display: none;
    text-align: center;
}


.calculate
{
    text-align: center;
}


.calculate button
{
    margin-top: 1.5vh;
    width: 70%;
    color: white;
    background-color: black;
}

.calculate button:hover
{
    border: 1px solid white;
    color: white;
    background-color: black;
}


