.featured-container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    height: 100vh;
}


.featured-node {
    float: left; /* keep */
    position: relative; /* keep */

    width: 25%;
    /*height: 95vh;*/
    /*border: 1px solid red;*/

}


.featured-img {
    width: 100%;
    height: 75vh;
}


.featured-title {
    padding-top: 50px;
    height: 25vh;
    font-size: 40px;
    color: orangered;
    font-family: ‘Lucida Console’, Monaco, monospace;
    opacity: 0.7;
}

