.featured-container {
    padding-top: 3%;
    padding-left: 30px;
    padding-right: inherit;
    top: 75px;
    margin: 5px;
    position: absolute; /* keep */
    /*border: 1px solid blue;*/
}


.featured-node {
    float: left; /* keep */
    position: relative; /* keep */

    width: 165px;
    height: 55vh;
    padding: 7px;
    /*border: 1px solid red;*/

}

.featured-img {
    width: 100%;
    height: 87%;
    padding-top: 10%;
}

p{
    color: white;
    text-align: center;
    padding-bottom: 2%;
    font-size: 10px;
}

h1{
    padding-top: 35px;
    color: white;
    text-align: center;
}
