body{
    background-color: black; !important;
}

.navbar-custom {
    border-bottom: none;
}

#search-subpage-background {
    positon: absolute;
    height: 100vh;
    width: 100%;
    /* background-color: #cccccc;*/
    background-color: black !important;
}

#search-subpage-image {
    position: relative;
    height: 100vh;
    width: 100%;
    z-index: 9;
    /* opacity: 0.85; */
    opacity: 0.4;
}

#search-big-outer {
    position: absolute;
    display: block;
    width: 100%;
    text-align: center;
}

#search-big-inner {
    position: relative;
    padding-top: 33vh;
    display: inline-block;
    width: 35%;
    z-index: 10;
}

#search-big-box {
    font-size: 20px;
    height: 60px;
}

#search-big-box:focus {
    border: 1px solid #cccccc;
    /* glow
    -webkit-box-shadow: 0px 0px 4px #9595A3;
    -moz-box-shadow: 0px 0px 4px #9595A3;
    box-shadow: 0px 0px 4px #9595A3;
    */
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}


#search-big-button {
    width: 40px;
}

#search-big-button-span {
    cursor: pointer;
}


#search-big-loading-info {
    color: white;
    margin: 20px;
}


#content {
    position: absolute;
    display: block;
    width: 100%;
    display: none;
}


#search-detailed-box {

}


#search-detailed-box:focus {
    border: 1px solid #cccccc;
    /* glow
    -webkit-box-shadow: 0px 0px 4px #9595A3;
    -moz-box-shadow: 0px 0px 4px #9595A3;
    box-shadow: 0px 0px 4px #9595A3;
    */
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}


#search-detailed-column-right {
    position: relative;
    margin-left: 30%;
    z-index: 10;
    height: 100vh;
    min-height: 100vh;
    padding-top: 55px; /* 50px (top: -50) + 15px */
    /* border: 1px solid yellow; */
}


#search-detailed-movies-info {
    color: white;
    padding: 15px;
    padding-top: 0;
    padding-left: 0;
    text-align: left;
}

.modal {
    display: block;
    z-index:    1000;
    background: url('../ajax-loader(1).gif') 50% 50% no-repeat;
}

#search-detailed-column-left {
    position: relative;
    width: 30%;
    float: left;
    z-index: 10;
    height: 100vh;
    max-height: 100vh;
    padding: 20px;
    padding-top: 70px;
}

#search-detailed-actors {
    margin-top: 30px;
    color: white;
    font-family: Verdana;
    position: relative;
    overflow: auto;
    /* border: 1px solid green; */
}

.search-detailed-actor-node {
    margin-right: 20px;
    margin-bottom: 20px;
    text-align: center;
    cursor: pointer;
    border: 1px solid transparent;
    border-left: 2px solid transparent;
    color: gray;
}

.search-detailed-actor-node:hover {
    border-left: 2px solid white;
    color: white;
}

.search-detailed-actor-node-higlighted {
    border-left: 2px solid white;
    color: white;
}

.search-detailed-movie-node {
    position: relative;
    width: 20%;
    height: 30vh;
    float: left;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
   /* display: none; */
}

.search-detailed-movie-img {
    position: relative;
    width: 100%;
    height: 100%;
    cursor: pointer;
    border-radius: 5px;
}

.tooltip {
    color: #FFFFFF;
    padding: 10px;
    font-size: 15px;
    opacity: 0;
}

.search-detailed-movie-title {
    position: absolute;
    bottom: 0;
}

#next-subpage {
    height: 1200px;
    border: 1px solid red;
}



.test {
    width: 400px;
    height: 300px;
    margin: 50px auto 0 auto;
    position: relative;
    overflow: auto;"
}


#search {

}

.center-text {
    text-align: center;
    position: relative;
}

.center-text:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.center-text span {
    vertical-align: middle;
    display: inline-block;
}


footer {
    width: 100%;
    height: 75px;
    text-align: center;
    color: gray;
}





