body{
    background-color: black; !important;
}

.navbar-custom {
    border-bottom: none;
}

#search-subpage-background {
    positon: absolute;
    height: 100vh;
    width: 100%;
    background-color: #cccccc;
    /* background-color: black !important; */
}

#search-subpage-image {
    position: relative;
    height: 100vh;
    width: 100%;
    z-index: 9;
    opacity: 0.85;
    /* opacity: 0.5; */
}

#search-big-outer {
    position: absolute;
    display: block;
    width: 100%;
    text-align: center;
}

#search-big-inner {
    position: relative;
    padding-top: 33vh;
    display: inline-block;
    width: 35%;
    z-index: 10;
}

#search-big-box {
    font-size: 20px;
    height: 60px;
}

#search-big-box:focus {
    border-color: #cccccc;

    /* glow
    -webkit-box-shadow: 0px 0px 4px #9595A3;
    -moz-box-shadow: 0px 0px 4px #9595A3;
    box-shadow: 0px 0px 4px #9595A3;
    */
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}


#search-big-button {
    width: 40px;
    cursor: pointer;
}


#search-detailed-container {
    padding-top: 50px;
    position: absolute;
    display: block;
    width: 100%;
    display: none;
}


#search-detailed-column-left {
    position: relative;
    width: 30%;
    float: left;
    z-index: 10;
    height: 200px;
    padding: 20px;
    padding-top: 10vh;
    /*border: 1px solid red;*/
}


#search-detailed-column-right {
    position: relative;
    margin-left: 30%;
    z-index: 10;
    top: -50px;
    height: 100vh;
    padding-top: 65px; /* 50px (top: -50) + 15px */
}


#search-detailed-actor-container {
    padding-top: 40px;
    padding-left: 10px;
    color: white;
    font-weight: bold;
    font-family: Verdana;
}

.search-detailed-actor-node {
    padding-top: 7px;
    padding-left: 20%;
    cursor: pointer;
}

.search-detailed-movie-node {
    position: relative;
    width: 20%;
    height: 33%;
    float: left;
    padding: 15px;
}

.search-detailed-movie-img {
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.tooltip {
    color: #FFFFFF;
    padding: 10px;
    font-size: 15px;
    opacity: 0;
}

.search-detailed-movie-title {
    position: absolute;
    bottom: 0;
}

#next-subpage {
    height: 1200px;
    border: 1px solid red;
}
/* Compare Page */
#movieDetails{

    background-color: black;
    margin-top: 100px;
    margin-left: 50px;
    margin-right: 50px;
    width: auto;
    height: 150px;
}

#videoHolder{

    margin: auto;
    width: 50%;
    margin-top: 11%;
    padding: 0.2%;
    background: url(../images/background.jpg);
    border-radius: 25px;
    color: white;


}

#videoHolder iframe{

    padding: 5%;
    padding-bottom: 1%;
    margin: auto;
    border-radius: 25px;

}

#videoHolder h1{

    padding: 5%;
    padding-top: 0;
    padding-bottom: 1%;
}

#videoHolder h1 img{

width: 5%;
height: 5%;
margin-left: 2%;
border-style: solid ;

}

#moviePhoto h1{

text-align: center;
padding-top: 30px;
    
    

}
#movieInfo{

    padding: 5%;
    padding-top: 1%;


}


#bookingInfo{
    background-color: rgba(0,0,0,0);
    width: 100%;
    height: auto;
    color: white;
    margin: auto;
    display: inline-block;
    margin-top: 1%;
    margin-bottom: 0;

}

#timedateInfo{

    width: 45%;
    background-color: rgba(0,0,0,0);
    float: left;
    
                                                                                                                                                                                                                                       
}

#date{

   float: left;
   margin-right: 5%;
   margin-left: 8%;
}

#ticketDetails{
    width: 55%;
    background-color: rgba(0,0,0,0);
    height: 80%;
    text-align: center;
    float: right;
}

#type{

    margin-right: 50px;
    color: black;

}

#vip{

    margin-right: 50px;


}
#quantity{

    color: black;

}
#dPick{

    color: black;

}
#time{

    color: black;

}
#compareMovies{
    margin: auto;
    width: 50%;
    margin-top: 2%;
    margin-bottom: 5%;
    padding: 10px;
    background: url(../images/background.jpg);
    border-radius: 25px;
}

#compare1{
    background-color: black;
    width: 20%;
    height: auto;
    margin-left: 10%;
    margin-top: 5%;
    display:inline-block;
    margin-bottom: 5%;
    padding-bottom: 10%;
    border-radius: 25px;
    color: white;

}
#compare1 h1{

        text-align: center;

}
#photo1{

    background-color: white;
    width: 50%;
    height: 90px;
    margin: auto;
    margin-top: 20%;


}
#photo1 img{

    width: 100%;
    height: 100%;

}
#compare2{
    background-color: black;
    width: 20%;
    height: auto;
    margin-left: 10%;
    margin-top: 5%;
    display:inline-block;
    margin-bottom: 5%;
    padding-bottom: 10%;
    border-radius: 25px;
    color: white;


}
#compare2 h1{

        text-align: center;
}
#photo2{

    background-color: white;
    width: 70%;
    height: 90px;
    margin: auto;
    margin-top: 20%;

}
#photo2 img{

    width: 100%;
    height: 100%;

}
#compare3{
    background-color: black;
    width: 20%;
    height: auto;
    margin-left: 10%;
    margin-top: 5%;
    display:inline-block;
    margin-bottom: 5%;
    padding-bottom: 10%;
    border-radius: 25px;
    color: white;



}
#compare3 h1{

    text-align: center;
    
}
#photo3{

    background-color: white;
    width: 100%;
    height: 90px;
    margin: auto;
    margin-top: 20%;


}
#photo3 img{

    width: 100%;
    height: 100%;

}

/* Compare Page */

.all_movies_left{
    float: left;
    width: 25%;
    margin-top: 5%;
    margin-left: 5%;
    font-family: Verdana;
    color: white;

}

.all_movies_center{
    float: left;
    width: 25%;
    margin-top: 5%;
    font-family: Verdana;
    color: white;


}

.all_movies_right{
    float: left;
    width: 25%;
    margin-top: 5%;
    font-family: Verdana;
    color: white;

}

#browse_all-background {
    positon: absolute;
    height: 200vh;
    width: 100%;
    background-color: black;
}

